/* normalize.css 2011-09-22T17:42 UTC - http://github.com/necolas/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline;zoom:1}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body,button,input,select,textarea{font-family:sans-serif}a{color:#00e}a:visited{color:#551a8b}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}pre{white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;margin-left:-7px}button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0}button,input{line-height:normal}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;overflow:visible}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}audio:not([controls]),[hidden]{display:none}body,figure,form{margin:0}

html {
	width: 100%;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	color: #555;
}

div.container {
	width: 900px;
	margin: 0 auto;
}

div.header {
	background: #CACACA;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d6d6d6)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #e3e3e3, #d6d6d6); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #e3e3e3, #d6d6d6); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #e3e3e3, #d6d6d6); /* IE10 */
	background-image:      -o-linear-gradient(top, #e3e3e3, #d6d6d6); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #e3e3e3, #d6d6d6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e3e3e3', EndColorStr='#d6d6d6'); /* IE6-IE9 */
	border-bottom: 1px solid #c6c6c6;
}

	div.header div.container {
		height: 90px;
	}
	
	div.header div.header-title {
		width: 290px;
		margin: 15px 10px 0 0;
		float: left;
	}
	
		div.header div.header-title div.title {
			font-size: 1.8em;
			font-family: Georgia, Times New Roman, times, serif;
			color: #444;
		}
		
			div.header div.header-title div.title a {
				text-decoration: none;
				color: #444;
			}
			
			div.header div.header-title div.title a:hover {
				color: #21759B;
			}
		
		div.header div.header-title div.subtitle {
			font-size: 0.9em;
			color: #8A8A8A;
		}
	
	div.header div.main-menu {
		width: 600px;
		float: left;
		margin-top: 60px;
	}

		div.header div.main-menu li {
			list-style-type: none;
			float: right;
			padding: 5px 10px;
		}
			
			div.header div.main-menu li a {
				text-decoration: none;
				color: #666;
				font-size: 0.95em;
			}
			
				div.header div.main-menu li a:hover {
					color: #d54e21;
				}
		
		div.header div.main-menu li.current {
			background: #F7F7F7;
			border-top: 1px solid #c6c6c6;
			border-right: 1px solid #c6c6c6;
			border-bottom: 1px solid #F7F7F7;
			border-left: 1px solid #c6c6c6;
			-moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
		}
		
			div.header div.main-menu li.current a:hover {
				color: #666;
			}
		
div.informer {
	background: #F7F7F7;
	border-bottom: 1px solid #c6c6c6;
}

	div.informer div.container {
		font-family: Georgia, Times New Roman, times, serif;
		padding: 20px 0;
		font-size: 1em;
	}
	
fieldset {
	padding: 10px 20px;
	border: 1px solid #DEDEDE;
	margin: 20px 0;
	font-size: 0.9em;
	max-width: 858px;
}
	fieldset legend {
		color: #cccccc;
	}
	
	span.help {
		color: #bfbfbf;
		padding-left: 10px;
	}
	
.confirm-button {
	padding-top: 10px;
	text-align: right;
	width: 100%;
}

	.confirm-button input {
		padding: 10px;
		border: 1px solid #999;
		background: #d6d6d6;
		color: #555;
	}
	
	.confirm-button input:hover {
		background: #555;
		color: #d6d6d6;
	}
	
.confirm-update, h3.update-title {
	text-align: center;
}

	.confirm-update input[type="submit"] {
		padding: 10px;
		border: 1px solid #999;
		background: #d6d6d6;
		color: #555;
	}
	
li.gallery-item {
	display: block;
	list-style-type: none;
	float: left;
	width: 33%;
	text-align: center;
}

	li.gallery-item a{
		color: #555;
	}
	
table.articles td {
	padding: 5px 20px;
}

table.articles td.name {
	width: 450px;
}

table.articles tr:hover {
	background: #d6d6d6;
}

	table.articles td a {
		color: #555;
	}
	
table.translation td{
	padding: 5px 10px;
}

div.footer {
	width: 100%;
	clear: both;
	border-top: 1px solid #DEDEDE;
	color: #BBB;
	font-size: 0.7em;
	padding: 7px 0 20px 0;
}

	div.footer a {
		color: #21759B;
	}