/* ---------------------
Html et body
--------------------- */

html {
	font : 75%/1.7em Arial, Tahoma, sans-serif;
	color : #555;	
	margin : 0;
	padding : 0; 
}
body {
	margin : 0;
	padding : 0; 
}

#maintence {width: 100%; height: 100%; background: #000; filter:alpha(opacity=95); -moz-opacity: 0.95; -khtml-opacity: 0.95; opacity: 0.95; position: absolute; z-index: 9999; color: #fff; text-align: center;}

#maintence p {margin-top: 300px;}

#page {
	width : 850px;
	margin : 0 auto 0 auto;
	padding : 0 0 0 0;
	clear : both; font-size:1.1em; font-family: Tahoma, Geneva, sans-serif; text-align:justify; 
}

/* ---------------------
Styles généraux
--------------------- */
h1 {font-size : 1.8em;}
h2 {font-size : 1.4em;}
h3 {font-size : 1.1em; margin : 0; padding: 0}
p {margin: 0; padding: 0; display:block; width:100%;}
a {color: #000; text-decoration: none;}
ul {padding: 0; margin: 0;}
a:hover {color : #000;}
.clearer {clear : both; visibility : hidden; margin : 0; padding : 0;}

a.galimage { display:block; width:250px; height:90px;}
div.framer {border:1px #a8a7a7 solid; padding:5px; float:left; margin:0 21px 20px 0; background:#FFFFFF; position:relative; z-index:10;}
div.freshlabel {width: 80px; height: 60px; background: transparent url('img/new.png') no-repeat; color: #fff; position: absolute; z-index: 15; right: 0; top: 0;}

a.fwd { display:none;}

/* ---------------------
Formulaire
--------------------- */
fieldset {
	border : 0;
}
label {
	display : block;
}
input, textarea {
	border-left : 1px solid #C3C9D0;
	border-top : 1px solid #C3C9D0;
	border-right : 1px solid #D4DAE2;
	border-bottom : 1px solid #D4DAE2;
}
input:focus, textarea:focus {
	background-color : #FFFFFF;
	border-left : 1px solid #D4DAE2;
	border-top : 1px solid #D4DAE2;
	border-right : 1px solid #C3C9D0;
	border-bottom : 1px solid #C3C9D0;
}
input[type=submit], input[type=reset] {
	background : #D4DAE2;
	}
input[type=text] {
	margin : 0 0 0 5px;
}
textarea {
	width : 95%;
}

/* ---------------------
Haut de page (#top)
--------------------- */
#top {width : 850px; height: 80px; border-bottom: 1px #E1E1E1 solid; margin: 30px auto 0 auto;}
#header {width : 312px; height:80px; float:left;}
#header h1 { font-weight:normal; font-family: Arial, sans-serif; font-size:2.7em; margin:30px 0 0 0;}
#header h1 a, #header h1 a:hover{ color: #000;}
#header b { font-family:Georgia, "Times New Roman", Times, serif; font-size:1.5em; font-weight:normal; }
#header span { display:block; width:100%; margin:2px 0 15px 0; color: #8a8a8a; font-size: 1.1em;}
#header p {position: relative; top: -17px; left: 0;}

#subtitle {text-transform: uppercase; padding-top: 33px; font-size:1.2em; color: #a6a6a6; text-align: right;}

#menu {clear: both; padding: 20px 0; border-bottom: 1px #E1E1E1 solid; height: 40px;}

#menu ul {
	list-style-type : none;
}
#menu ul li {
	float : left;
}
#menu ul li a {
	display : block; text-align: center; padding:10px 15px;	
	height:20px; font-size:1.1em; color: #fff; background: #000;
}

#menu ul li a:hover {}

#menu ul li.active a{}

/* --------------------- 
Zone de contenu (#content)  
--------------------- */
#content { /* Bloc */
	float : left;
	width : 634px; 
	margin : 0;
	padding: 20px 0 0 0;
}

body#tic div.stat { padding:30px 0 40px 0; width: 850px; clear: both;}

body#tic div.stat p {margin-bottom: 20px;}

#content_galeria { padding:30px 0 20px 0; overflow:hidden}

.homo, .cat, .artikol { padding:20px 0 0 0}
#page.article {padding:30px 0 0 0}

#inform {width: 850px; padding:35px 0 15px 0; font-size:1.2em; color: #a6a6a6; font-family:Georgia, Times New Roman, Times serif; line-height:1.4em; margin: 0 auto; height: auto; text-align: center; clear: both; text-transform: uppercase;}
#inform i { font-size:1.6em; font-style:italic; }

#inform a { color: #21759b;
text-decoration: none;
font-weight: normal;
}

#inform a:hover {color: #d54e21;}

.post { /* Conteneur de l'article */
	padding : 0 0 22px 0; overflow:hidden;
}

.title { /* Titre de l'article */
	color : #000;
	font-size : 2em; font-family: Trebuchet MS, "Times New Roman", Times, serif;
	font-weight:normal;
	padding : 4px 0;}

h2.title { margin:0 auto; padding:0; width:100%; float:left; line-height:1em;}
h2.title a {color: #000; text-decoration: none;}

body#ut h2 { margin:20px 0 2px 0;}

p.extract {padding:10px 0 10px 0}

p.datum { font-size:1em; color:#fff; width:54px; text-align:center; line-height:1em; padding:6px 10px 6px 10px; float:left; margin:0 10px 0 0; background:#000000} 	
p.datum:first-line { font-weight:bold; line-height:1.2em}

.post-info {
	font-size:.8em; 
	padding : 0;
	margin : 0!important;}


	
/* read news inside customisation */
.articul h2.title, .articul .post-info { width:100%;} 	
.articul #banner { margin:10px 0 10px 0;}

a.more { color: #000;
text-decoration: none;
font-weight: normal;
}

a.more:hover {color: #d54e21;}

#galeria_title {width: 850px; margin: 0 auto; padding:25px 10px 20px 0; color:#000; font-size:2em; font-family:Arial, sans-serif; line-height:1.4em;}
#galeria_title sup a {font-size: 0.8em; color: gray;}

#galeria_info {clear: both;}

#content.stat {padding-top: 20px;}

/* --------------------- 
Paneau latéral (#sidebar)  
--------------------- */
body#bdesign #sidebar, body#nts #sidebar, body#ut #sidebar { display:none}

#sidebar {
	float : right;
	width : 177px;
	padding : 0;
	margin : 20px 0 0 0; 
}
#sidebar div {
	margin : 0;
	padding : 0;
	width : 100%;
}
#sidebar h2 { /* Titre des menus de la sidebar */
	color : #000;
	font-size : 1.1em;
	margin : 0;
	padding : 3px 0 4px 8px;
	font-weight:normal;
	border-bottom: 1px solid #c6c6c6;
	text-transform: uppercase;
}

#sidebar h2 a#cathead {color : #8a8a8a; cursor: pointer;}

#sidebar ul { /* Bloc de liste */
	margin : 0 0 20px 0; 
	padding : 0;
}
#sidebar li { /* Elément de liste */
	list-style-type : none; 
	padding : 4px;
}

#sidebar ul#catlist li a:before {content:"→ ";}

#sidebar li a { /* Liens dans les listes */
	color : #000;
	padding : 0 0 0 10px;
	text-decoration : none;
	}

#sidebar a {color : #000;}

#sidebar a:hover, #sidebar li a:hover {color: #000;}

#sidebar #tweets li {text-align: left; font-size: 0.8em; margin: 5px 0;}
/* ---------------------
Pied de page (#footer)
--------------------- */
#footer {
	width :850px; 
	margin : 20px auto;
	text-align : center;
	font-size : .9em;
	border-top: 1px solid #dedede; 
	color: #bbb;
	padding : 5px 0 20px 0; height:19px
}

#footer p { width:auto; padding:0; text-align:left;}
#footer a {
	color : #000;
	text-decoration : none;
}
#footer a:hover {color: #000;}


/* pagination */

#pagination {
	text-align : center; font-family:Georgia, "Times New Roman", Times, serif;
	margin :0; 
	padding : 15px 0 10px 0;
}
a.pagi { padding:3px 5px 3px 5px; color:#21759b; border:1px #e4e6dc solid; font-size:1.2em;}
a.pagi:hover { color:#fff; background:#d54e21;}